body {
  background-color: #dee2f6;
  color: #fff;
  font-family: "Lato", sans-serif;
  margin-top: 20px;
}

.container {
  background-color: white;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  height: 600px;
  padding-left: 20px;
  width: 460px;
}

.weather-app-wrapper {
  padding-top: 35px;
}