.header-section {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  padding: 0;
}

.weather-temperature canvas {
  margin-right: 10px;
}

.temperature {
  font-size: 42px;
}

.superscript-conversion {
  font-size: 13px;
  top: -21px;
  margin-left: 5px;
}

.units .active {
  color: #fff;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.other-weather {
  font-size: 14px;
}

ul {
  margin-bottom: 30px;
  padding: 0;
}

li {
  height: 18px;
  list-style-type: none;
  margin-top: 5px;
  padding: 0px;
}

li::first-letter {
  text-transform: capitalize;
}

.week-forecast {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin-left: 2px;
  height: 130px;
  padding: 15px 0 20px 2px;
  width: 410px;
}